[submodule "infrastructure"]
	path = infrastructure
	url = https://github.com/FortifAI-Inc/infrastructure.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/FortifAI-Inc/api-gateway.git
[submodule "microservices"]
	path = microservices
	url = https://github.com/FortifAI-Inc/microservices.git
[submodule "data-layer"]
	path = data-layer
	url = https://github.com/FortifAI-Inc/data-layer.git
[submodule "fortifai"]
	path = fortifai
	url = https://github.com/FortifAI-Inc/fortifai.git
